{
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.json", "*.jsonc", "*.yml", "*.yaml", "*.md"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["packages/tsconfig/{base,library,nest,nextjs}.json", "**/tsconfig*.json"],
      "options": {
        "parser": "jsonc",
        "singleQuote": false
      }
    },
    {
      "files": ["**/package.json"],
      "options": {
        "parser": "json",
        "trailingComma": "none",
        "singleQuote": false
      }
    }
  ]
}
